.wrapper {
  width: 100%;
  height: auto;
  _overflow: hidden;
}

.center {
  max-width: 1280px;
  margin: auto;
}

/* Header Style Code */
.header {
  width: 100%;
  height: auto;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header .logo {
  width: 140px;
}

.header .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: block;
}

.header .nav {
}

.header .nav ul {
  display: flex;
}

.header .nav ul li {
  padding: 30px;
}

.header .nav ul li a {
  color: #fff;
  font-size: 16px;
}

.header .icon ul {
  display: flex;
}

.header .icon ul li {
  padding: 30px 15px;
}

.header .icon ul li a i {
  display: block;
  color: #fff;
  font-size: 18px;
}

.banner_container {
  width: 100%;
  height: 500px;
  _background: #ccc;
  overflow: hidden;
  position: relative;
}

.banner_container .main-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 600%;
  height: 100%;
  display: flex;
}

.banner_container .main-slide .slide {
  width: 16.6666%;
  height: 100%;
  background-size: cover;
  _background: #ccc no-repeat center;
  overflow: hidden;
}

#banner_prev,
#banner_next {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 30px;
}

#banner_prev {
  left: 0;
}

#banner_next {
  right: 0;
}

#banner_prev.disabled,
#banner_next.disabled {
  display: none;
}
