.wrapper {
  width: 100%;
  height: auto;
  _overflow: hidden;
}

.center {
  max-width: 1280px;
  margin: auto;
}

/* Header Style Code */
.header-backg {
  background: #000;
}

.active {
  background: #666;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  _padding: 0 100px;
}

.header .logo {
  width: 140px;
}

.header .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: block;
}

.header .nav {
}

.header .nav ul {
  display: flex;
}

.header .nav ul li {
  padding: 30px;
}

.header .nav ul li a {
  color: #fff;
  font-size: 16px;
}

.header .icon ul {
  display: flex;
}

.header .icon ul li {
  padding: 30px 15px;
}

.header .icon ul li a i {
  display: block;
  color: #fff;
  font-size: 18px;
}
/* End of Header Style Code */

/* Slide Style Code */

.banner_container {
  width: 100%;
  height: 500px;
  _background: #ccc;
  overflow: hidden;
}

.banner_container .main-slide {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.banner_container .main-slide .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  _background: #ccc no-repeat center;
  overflow: hidden;
}

.banner_container .main-slide .slide:nth-child(1) {
  left: 0;
}
.banner_container .main-slide .slide:nth-child(2) {
  left: 100%;
}
.banner_container .main-slide .slide:nth-child(3) {
  left: 200%;
}
.banner_container .main-slide .slide:nth-child(4) {
  left: 300%;
}
.banner_container .main-slide .slide:nth-child(5) {
  left: 400%;
}
.banner_container .main-slide .slide:nth-child(6) {
  left: 500%;
}

.banner_container .main-slide .slide img {
  width: 100%;
  height: 500px;
  position: relative;
  object-fit: cover;
}

.banner_prev,
.banner_next {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: 0px transparent;
  background: transparent;
  font-size: 20px;
  color: #333;
  transition: all 0.4s;
  border: 1px solid transparent;
  border-radius: 50%;
}

.banner_prev:hover,
.banner_next:hover {
  background: #fff;
  border: 1px solid #fff;
  align-items: center;
}
.banner_prev {
  left: 40px;
}

.banner_next {
  right: -220px;
}

.banner_prev.disabled,
.banner_next.disabled {
  display: none;
}

.banner_container .btns {
  position: absolute;
  top: 35%;
}
/* End of Slide Style Code */

/* Slide Section Style Code */
.item-container {
  width: 100%;
  height: auto;
  display: flex;
}

.item-container .item-wrap {
  width: 75%;
  height: auto;
}

.item-container p {
  font-size: 40px;
  font-weight: 600;
  margin: 80px 0px 60px 0;
}

.item-container .item-box {
  width: 100%;
  height: auto;
  align-items: center;
}

.item-container .item-box ul {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  text-align: center;
  display: none;
}

.item-container .item-box ul li {
  width: 25%;
  height: auto;
  overflow: hidden;
  background: cover no-repeat;
}

.item-container .item-box ul li h3 {
  margin-top: 15px;
  font-size: 15px;
}

.item-container .item-box ul li h4 {
  font-size: 13px;
  color: #999;
  margin: 5px 0px 15px 0px;
}

.item-container .item-box ul li b {
  font-weight: 700;
  font-size: 17px;
}

.item-container .item-box ul li img {
  width: 100%;
  height: auto;
}

.item-container .item-box .dot-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-container .item-box .dot-item span {
  width: 10px;
  height: 10px;
  border: 1px solid #666;
  _background: #999;
  border-radius: 50%;
  margin: 40px 10px;
}

.item-container .slide-item {
  width: 25%;
  height: auto;
  overflow: hidden;
  padding: 10px;
  transform: translateY(-80px);
}

.item-container .slide-item ul li img {
  width: auto;
  height: auto;
  margin: auto;
  max-width: 300px;
  max-height: 700px;
}

.fade-in {
  -webkit-animation-name: cf3FadeInOut;
  -webkit-animation-duration: 1.5s;
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-direction: alternate;
}

@-webkit-keyframes cf3FadeInOut {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes cf3FadeInOut {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  -webkit-animation-name: fadeout;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeout;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* End of Slide Style Code */

.grid-container {
  width: 100%;
  height: 530px;
  display: grid;
  display: inline-grid;
  grid-template-columns: 1.7fr 1fr 1fr;
  grid-template-rows: 1fr;
  _border: 1px solid #333;
}

.grid-container > div {
  _border: 1px solid #333;
  overflow: hidden;
}

.grid-container .grid-item1 {
  grid-row: span 2;
}

.grid-container .grid-item2 {
  grid-column: span 2;
}

.grid-container .grid-item1 img {
  width: 100%;
  height: auto;
  background: cover;
}

.grid-container .grid-item2 img {
  width: 100%;
  height: 100%;
}

.grid-container .grid-item3 img,
.grid-container .grid-item4 img {
  width: 100%;
  height: auto;
  background: cover;
}

/* End of grid html */

.spray-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 70px 200px;
}

.spray-container h1 {
  font-size: 40px;
  margin-top: 100px;
}

.spray-container h4 {
  font-size: 16px;
  margin-top: 50px;
}

.footer {
  width: 100%;
  height: auto;
}

.footer img {
  width: 100%;
  height: auto;
}

.footer-backg {
  width: 100%;
  height: auto;
  background: #000;
}

.footer-txt {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-txt ul {
  display: flex;
  justify-content: center;
}

.footer-txt ul li {
  padding: 20px;
}

.footer-txt h1 {
  color: #fff;
}

.footer-txt ul li a {
  color: #fff;
}
