@media screen and (max-width: 1280px) {
  /* <!-- Header Section --> */
  .header {
    padding: 0 100px;
  }

  .header .nav ul li {
    padding: 20px;
  }

  .header .nav ul li a {
    font-size: 15px;
  }

  .icon {
    display: none;
  }

  /* <!-- Image Html Section --> */
  .item-container,
  .grid-container {
    padding: 15px;
  }

  .spray-container h1 {
    font-size: 38px;
  }
  .spray-container h4 {
    font-size: 14px;
  }

  .footer-backg {
    padding: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  /* <!-- Header Section --> */
  .header .nav ul li a {
    font-size: 14px;
  }

  /* <!-- Slide Section --> */
  .banner_container,
  .banner_container .main-slide .slide img {
    height: 380px;
  }

  .banner_prev,
  .banner_next {
    width: 25px;
    height: 25px;
    font-size: 18px;
    top: -210px;
  }

  .banner_prev {
    left: 15px;
  }

  .banner_next {
    right: 15px;
  }
  /* <!-- Image Html Section --> */
  .item-container .item-wrap {
    width: 100%;
  }
  .item-container .slide-item {
    display: none;
  }

  .item-container .item-box ul li {
    width: 28%;
  }

  .item-container .item-box ul li h3 {
    font-size: 14px;
  }

  .item-container .item-box ul li b {
    font-size: 15px;
  }

  .item-container,
  .grid-container {
    padding: 30px 70px;
  }
  /* grid html Section */
  .grid-container {
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr;
  }

  .grid-container .grid-item1 {
    grid-column: span 2;
  }

  /* Spray slide Section */
  .spray-container {
    padding: 15px 70px;
    flex-direction: column;
  }

  .spray-container .spray-txt {
    padding: 0 10px;
    width: 100%;
  }

  .spray-container .slide-gif {
    width: 100%;
    height: auto;
  }

  .spray-container h1 {
    margin-top: 80px;
  }

  .footer-backg {
    padding: 0 50px;
  }

  .footer-txt ul li {
    padding: 15px;
  }

  .footer-txt ul li a {
    font-size: 12px;
  }
}

@media screen and (max-width: 510px) {
  /* <!-- Header Section --> */
  .header {
    padding: 0 15px;
  }

  .header .nav ul li {
    padding: 10px;
  }

  .header .nav ul li a {
    font-size: 12px;
  }

  /* <!-- Slide Section --> */

  .item-container,
  .grid-container {
    padding: 30px;
  }

  .banner_container,
  .banner_container .main-slide .slide img {
    height: 250px;
  }

  .banner_prev,
  .banner_next {
    top: -140px;
  }

  /* <!-- Image Html Section --> */

  .item-container p {
    font-size: 25px;
    margin: 35px 0 45px 0;
  }

  .item-container .item-box ul li {
    width: 30%;
  }

  .item-container .item-box ul li h4,
  .item-container .item-box ul li b {
    display: none;
  }

  .spray-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
  }

  .spray-container h1 {
    font-size: 25px;
    margin-top: 35px;
  }

  .spray-container h4 {
    margin: 20px 0px;
  }

  .footer-backg {
    padding: 0 15px;
  }
  .footer-txt ul {
    justify-content: space-between;
  }

  .footer-txt ul li {
    padding: 15px 5px;
  }

  .footer-txt ul li a {
    font-size: 10px;
  }
}
